.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.progress-container {
  position: relative;
  .progress-text-container {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.stepper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  gap: 1rem;

  margin-top: 2rem;
  .line {
    width: 250px;
    height: 2px;
  }
  .line-bg {
    background-color: #e0e0e0;
  }
  .step {
    width: 250px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    position: relative;
  }

  .step-success {
    color: #57dd88;
  }
  .step-next {
    color: #a9a9a9;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .btn-primary {
    background-color: #57dd88;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #4acb7a;
    }
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
