<div class="content-container">
  <!-- Progress Container -->
  <div class="progress-container">
    <div class="progress-text-container poppins-extrabold">{{progress}}%</div>
    <round-progress [current]="progress" [max]="100" [color]="'#FB923C'" [background]="'#F8B985'" [radius]="125"
      [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="800"
      [animation]="'easeInOutQuart'" [animationDelay]="0" />
  </div>
  <!-- Stepper Container -->
  <div class="stepper-container">
    <div id="oldStep" class="step step-success">{{ oldStep }}</div>
    <div class="line" [ngClass]="{'line-bg': oldStep !== ''}"></div>
    <div id="newStep" class="step">{{ currentStep }}</div>
    <div class="line" [ngClass]="{'line-bg': nextStep !== ''}"></div>
    <div id="nextStep" class="step step-next">{{ nextStep}}</div>
  </div>

  <!-- Button Container -->
  <div class="button-container">
    <button class="btn btn-primary" (click)="previousStep()" [disabled]="progress <= 0">Previous</button>
    <button class="btn btn-primary" (click)="setNextStep()" [disabled]="progress >= 100">Next</button>
  </div>
</div>